extends layouts/index 
block content

    .form__container
        form.form-join(action=`/user${routes.changePassword}` method="POST")
            h1.form-join__title Change your Password!
            input(type="password" name="oldPassword" placeholder="current password" required)
            input(type="password" name="newPassword" placeholder="new password" required)
            input(type="password" name="newPassword2" placeholder="Confirm" required)
            input.submit(type="submit" value="Change Password")