extends layouts/index
include mixins/videoPlayer
block content
    .videoPlayer__container
        +videoPlayer({
            videoFile:video.fileUrl
        })
        .video-subscript__title
                    h3=video.title
                    span=loggedUser.lastName
                    .views
                        span=video.views
                        span views
        a(href=routes.videoEdit(video.id))
            span.edit EDIT
    