.side-navigation
    .side-navigation__column
        ul
            li
                a(href="#")
                    span Home
            li
                a(href="#")
                    span Trending
            li
                a(href="#")
                    span Subscriptions
    .side-navigation__column
        h4 Subscriptions
        ul
            li
                a(href="#")
                    span mixin? 
    .side-navigation__column
        h4 More from youtube
        ul
            li
                a(href="#")
                    span settings
            li
                a(href="#")
                    span Help
            li
                a(href="#")
                    span Live chat 
    .side-navigation__column
        span &copy #{new Date().getFullYear()} YouTube Clone Challenge