.user-profile__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 50px;
  .user-profile__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  .user-profile__name {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }
    .user-profile__edit {
      width: 150px;
      height: 40px;
      background-color: $blue;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      margin-bottom: 20px;
      color: white;
    }
  }
}

.user-video__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .user-video__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    border: $border;
    background-color: $magellanGrey;
    padding: 50px;
    video {
      width: 100%;
    }
    .video-subscript__avatar {
      margin-top: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: grey;
      margin-right: 5px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}
.video-text {
  color: black;
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  h5,
  span {
    font-size: 15px;
    color: $mistyGrey;
    margin-bottom: 5px;
  }
}
