.video-subscript__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  .views {
    display: flex;
    justify-content: flex-start;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  span {
    font-size: 15px;
    color: $mistyGrey;
    margin-bottom: 5px;
  }
}
.edit {
  color: $blue;
}
.video-comments {
  position: relative;
  width: 100%;
  .add-comments {
    width: 100%;
  }
}
